body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "REAPangea-Medium", "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    /* Without quotes */
    margin: auto;
    /* Center the container */
}

.category {
    display: flex;
    width: 100%;
    /* Adjust the width as needed */
    align-items: center;
    margin: 1% 0;
}

.categories {
    margin-top: 20px;
}

.text,
.text-bonus {
    font-size: medium;
    margin-left: 2%;
}

.container {
    width: 100%;
    /* Adjust the width as needed */
    max-width: 50em;
    /* Set a maximum width for larger screens */
    margin-top: 4%;
    line-height: 20px;
}

.first-para,
.second-para,
.third-para {
    line-height: 20px;
    margin-top: 3%;
    font-weight: 300;
    /* Adjust the value based on your preference */
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
    .main {
        width: 80%;
        /* Adjust as needed */
    }

    .category {
        width: 100%;
        margin: 10px 0
    }

    .container {
        width: 100%;
        max-width: none;
        /* Reset max-width for smaller screens */
    }
}